[Desktop Entry]
Type=Application
Exec="{PWD}/../../bin/main.sh"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Dynamic Wallpaper by @y4nci
Name=Dynamic Wallpaper by @y4nci
Comment[en_US]=
Comment=
